@import "./abstracts/mixins";

button {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 80px;
  font-weight: 500;
  @include respond("tab-port") {
    padding: 13px 70px;
  }
}
